.IframeItem {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
  background-color: #fff;
  width: 100%;
}

.IframeItem__memo {
  color: #333;
  font-size: 1.2rem;
  white-space: pre-wrap;
}
